<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436294698593-derke8n2u37vb23grp3b0pq10sn6h1kt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436294698593-derke8n2u37vb23grp3b0pq10sn6h1kt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>436294698593-8im7q7dj5lkt66v8l4s7bp8gbcvmtrqk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDR22WUcYOPPvI5ZSSF0QDnH97YC4A09Ms</string>
	<key>GCM_SENDER_ID</key>
	<string>436294698593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maddumage.sinhalika</string>
	<key>PROJECT_ID</key>
	<string>sinhalika-866ca</string>
	<key>STORAGE_BUCKET</key>
	<string>sinhalika-866ca.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436294698593:ios:de729b9b5f7abef20d8c20</string>
</dict>
</plist>